
.search, .select_search{
    width: 150px;
    margin-top: 80px;
    display: inline-block;
    vertical-align: top;
}

.search{
    width: 250px;
}

.select_search{
    float:right;
    margin-right: 400px;
}

/*.logoff{
    float: right;
    margin-right: 50px;
}*/

#table{
    max-width: 1190px;
    margin: 20px 20px;
}

.pagination{
    margin-left: 300px;
}

.select_status select{
    border: none;
    width: 100px;
}
